// set custom hex colors
$siteBgColorCustom: #FFFFFF;
$sidebarBgColorCustom: #dbdbd2;
$textColorCustom: #666260;
$sidebarTextColorCustom: #0A1A26;
$headlineColorCustom: #103742;
$headingColorCustom: #103742;
$bodyLinkColorCustom: #02733E;
$navLinkColorCustom: #02733E;
$sidebarLinkColorCustom: #02733E;
$footerTextColorCustom: #0A1A26;
$buttonTextColorCustom: #0A1A26;
$buttonHoverTextColorCustom: #02733E;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #02733E;
$borderColorCustom: #4f36d9;